---
import { ClientRouter } from 'astro:transitions'
import { SiteDescription, SiteTitle } from '../consts.ts'
import SEO, { type Props as SEOProps } from './seo.astro'

export type Props = Partial<SEOProps>
const {
  title = SiteTitle,
  name = SiteTitle,
  description = SiteDescription,
  image = { src: 'https://retroassembly.com/assets/logo/logo-512x512.png', alt: SiteTitle },
  ...seo
} = Astro.props
---

<meta charset='utf-8' />
<meta name='viewport' content='width=device-width,initial-scale=1.0' />
<title>{title}</title>
<SEO {title} {description} {name} {image} {...seo} />
<link rel='alternate' type='application/rss+xml' title={SiteTitle} href={new URL('rss.xml', Astro.site)} />

<ClientRouter />
